.wrapper {
    font-family: AppleGothic, sans-serif;
    font-size: 2rem;
    width: 400px;
    height: 400px;
    border: 1px solid #a0c1fb;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}

.screenOfInf {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 200px;
    border: 1px solid #a0c1fb;
}

.buttons {
    display: flex;
    border: 1px solid #a0c1fb;
    justify-content: center;
    align-items: center;
    width: 360px;
    margin: 20px;
    height: 100px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Sama Kannada", sans-serif;
        font-weight: bold;
        font-size: 1.1rem;
        width: 100px;
        height: 50px;
        background-color: #a0c1fb;
        color: white;
    }
    button:disabled,
    button[disabled] {
        background-color: grey;
    }
}